    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
    head {
        display: flex;
        box-shadow: 10px px 11px rgb(0, 0, 0);
        justify-content: space-between;
        align-items: center;
    }
    
    h1 {
        text-align: left;
        color: rgb(226, 220, 220);
        font-size: 55px;
        margin-left: -250px;
    }
    
    h2 {
        font-family: 'comfortaa', cursive;
        font-size: 28px;
        color: #677a8a;
        text-align: center;
    }
    
    section {
        font-family: 'Great Vibes', cursive;
        font-size: 35px;
        color: #677a8a;
        text-align: center;
    }
    
    body {
        max-width: 842px;
        font-family: 'Comfortaa', cursive;
        margin-left: auto;
        margin-right: auto;
    }
    
    textarea {
        box-shadow: 0 0 0 0;
        outline: 0;
        word-break: break-word;
        width: 800px;
        max-width: 100%;
        font-family: "Droid Sans Mono", monospace;
        color: #7d97ad;
        font-size: 25px;
        line-height: ;
        background-attachment: local;
        background-image: linear-gradient(to right, #FFF, #FFF 10px, transparent 10px), linear-gradient(to left, #FFF, #FFF 10px, transparent 10px), repeating-linear-gradient(#FFF, #FFF 36px, #CCC 36px, #CCC 38px);
        line-height: 30px;
        resize: none;
        border: none;
        padding: 15px 18px 0 18px;
    }
    
    footer {
        font-family: 'comfortaa', cursive;
        font-size: 15px;
    }